* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1040px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-top: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  flex-wrap: wrap;
}

div {
  background-color: darkblue;
  color: white;
}

footer {
  font-size: 12px;
}


/* body要素にスタイルを適用 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
/* header要素にスタイルを適用 */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
/* ul要素にスタイルを適用 */
ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
/* div要素にスタイルを適用 */
div {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}
/* main要素にスタイルを適用 */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}