.container {
  width: 1200px;
  margin: auto;
  background-color: cadetblue;
}

div div {
  outline: 1px black solid;
  background-color: bisque;
  text-align: center;
}


/* 1. containerクラスにスタイルを適用 */
.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
}
/* 2. containerクラスにスタイルを適用 */
.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-evenly;
}
/* 3. containerクラスにスタイルを適用 */
.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}
/* 4. containerクラスにスタイルを適用 */
.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  gap: 10px 150px;
}